@import "{}/imports/ui/stylesheets/allLines.scss";
@import "{}/imports/ui/stylesheets/emptyLines.scss";
@import "{}/imports/ui/stylesheets/noLines.scss";
@import "{}/imports/ui/stylesheets/not-found.scss";
@import "{}/node_modules/@salesforce-ux/design-system/scss/index.scss";


html {
  background: rgb(175, 197, 222);
}

.footer {
    background: rgba(255, 255, 255, 0.9);
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // z-index: 4;
    // -webkit-transform: translateY(0);
    // -ms-transform: translateY(0);
    // transform: translateY(0);
    // max-height: 0;
    // position: fixed;
    // width: 892.672px;
    // left: 29px;
    // bottom: 0px;
}

.footer.active {
    box-shadow: none;
    max-height: 72px;
    margin: 0;
}

.ff-editInline{
	width: 1rem;
}

.ff-hide{
	display: block;
	position: absolute;
	visibility: hidden;
}

// .ff-focus {
// 	outline: 0;
//   border-color: rgb(21, 137, 238);
//   background-color: rgb(255, 255, 255);
//   box-shadow: 0 0 3px #0070d2;
// }

.ff-option-allLines, .ff-option-emptyLines {

	.ff-fieldContent, .empty .ff-fieldContent {
		border-bottom: 1px solid rgb(236, 235, 234);
	  min-height: auto;
	  padding: 0;
	}

}

.ff-option-emptyLines .full .ff-fieldContent {
	border-bottom: none;
}

.detailEditContainer {
  box-shadow: 0 2px 4px 4px rgba(0,0,0,.16);
  border-radius: .25rem;
  -webkit-transition: .1s box-shadow ease-in-out;
  transition: .1s box-shadow ease-in-out;
}

.ff-box {
	padding: 1rem;
	border-bottom: 1px solid #dddbda;
	border-radius: 0.25rem;
	background: #fff;
	background-clip: padding-box;
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}

#__blaze-root {

	.formsFuture-m-top-ninety {
		margin-top: 90px;
	}

	.slds-brand-band {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    position: relative;
	    height: 100%;
	    width: 100%;
	}

	.slds-brand-band:after {
	    content: none;
	    display: block;
	    position: absolute;
	    z-index: -1;
	    left: 0;
	    right: 0;
	    top: 0;
	    width: 100%;
	    height: 3.125rem;
	    background-image: linear-gradient(to bottom, rgba(253, 253, 253, 0) 60%, #fdfdfd);
	}

	.slds-brand-band.slds-brand-band_medium:before {
    height: 12.5rem;
	}

	.slds-brand-band:before {
	    content: '';
	    display: block;
	    position: absolute;
	    z-index: -1;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background-image: url(/img/banner-brand-default.png),-webkit-linear-gradient(to top,rgba(32, 92, 159, 0), rgb(32, 92, 159));
	    background-image: url(/img/banner-brand-default.png),linear-gradient(to top,rgba(32, 92, 159, 0), rgb(32, 92, 159));
	    background-repeat: repeat-x;
	    background-position: top left;
	}

	.slds-template__container {
    position: relative;
    height: 100%;
    width: 100%;
	}

	.slds-template_default {
    padding: .75rem;
	}

	.slds-template_default.slds-brand-band:before {
    position: fixed;
    top: 5.625rem;
	}

	#tab-default-2 .slds-button_icon {
		color: rgb(236, 235, 234);
	}

	#tab-default-2 .slds-button_icon:hover {
		color: rgb(0, 112, 210);
	}
	// .slds-context-bar {
	// 	border-top: 1px solid rgb(216, 221, 230);
	// }

}