<template name="globalNav">

	<div class="slds-context-bar slds-p-left_none">
	  <nav class="slds-context-bar__secondary" role="navigation">
	    <ul class="slds-grid">
	      <li class="slds-context-bar__item">
	        <a href="/" class="slds-context-bar__label-action" title="Home">
	          <span class="slds-truncate" title="Home">Home</span>
	        </a>
	      </li>
	      <li class="slds-context-bar__item">
	        <a href="/components" class="slds-context-bar__label-action" title="Menu Item">
	          <span class="slds-truncate" title="Menu Item">Components</span>
	        </a>
	      </li>
	      <li class="slds-context-bar__item">
	        <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Menu Item">
	          <span class="slds-truncate" title="Menu Item">Interfaces</span>
	        </a>
	      </li>
	      <li class="slds-context-bar__item">
	        <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Menu Item">
	          <span class="slds-truncate" title="Menu Item">Events</span>
	        </a>
	      </li>
	    </ul>
	  </nav>
	</div>

</template>
