<template name="detail">
	<div class='detailContainer {{readIsVisible}}'>
		<!-- Row 1 -->
		<div class='slds-grid slds-grid_pull-padded'>
			<div class='slds-size_1-of-2 slds-p-horizontal_small'>{{>inputRead label="Opportunity Owner" content="templated" link="true" nonEditable="true"}}</div>
			<div class='slds-size_1-of-2 slds-p-horizontal_small'>{{>inputRead label="Amount" 
			content="templated"}}</div>
		</div>

		<!-- Row 2 -->
		<div class='slds-grid slds-grid_pull-padded'>
			<div class='slds-size_1-of-2 slds-p-horizontal_small'>{{>inputRead label="Opportunity Name" content="templated"}}</div>
			<div class='slds-size_1-of-2 slds-p-horizontal_small'>{{>inputRead label="Close Date" 
			content="templated"}}</div>
		</div>

		<!-- Row 3 -->
		<div class='slds-grid slds-grid_pull-padded'>
			<div class='slds-size_1-of-2 slds-p-horizontal_small'>{{>inputRead label="Account Name" content="templated" link="true"}}</div>
			<div class='slds-size_1-of-2 slds-p-horizontal_small'>{{>inputRead label="Stage" 
			content="templated"}}</div>
		</div>

		<!-- Row 4 -->
		<div class='slds-grid slds-grid_pull-padded'>
			<div class='slds-size_1-of-2 slds-p-horizontal_small'>{{>inputRead label="Type" content="templated"}}</div>
			<div class='slds-size_1-of-2 slds-p-horizontal_small'>{{>inputRead label="Probability (%)" 
			content="templated"}}</div>
		</div>

		<!-- Row 5 -->
		<div class='slds-grid slds-grid_pull-padded'>
			<div class='slds-size_1-of-2 slds-p-horizontal_small'>{{>inputRead label="Lead Source" content="templated"}}</div>
			<div class='slds-size_1-of-2 slds-p-horizontal_small'>{{>inputRead label="Expected Revenue" 
			content="templated"}}</div>
		</div>

		<!-- Row 6 -->
		<div class='slds-grid slds-grid_pull-padded'>
			<div class='slds-size_1-of-2 slds-p-horizontal_small'>{{>inputRead label="Quantity" content="templated"}}</div>
			<div class='slds-size_1-of-2 slds-p-horizontal_small'>{{>inputRead label="Next Step" 
			content="templated"}}</div>
		</div>

		<!-- Row 7 -->
		<div class='slds-grid slds-grid_pull-padded'>
			<div class='slds-col slds-p-horizontal_small'>{{>inputRead label="Description" content="templated"}}</div>
		</div>

		<!-- Row 8 -->
		<div class='slds-grid slds-grid_pull-padded'>
			<div class='slds-size_1-of-2 slds-p-horizontal_small'>{{>inputRead label="Created" content="9/14/2017 3:49 PM" nonEditable="true"}}</div>
			<div class='slds-size_1-of-2 slds-p-horizontal_small'>{{>inputRead label="Last Modified" 
			content="9/14/2017 3:49 PM" nonEditable="true"}}</div>
		</div>
	</div>
</template>