<template name="inputEdit">
	{{isFocused}}
	<div role="listitem" class="slds-has-flexi-truncate slds-p-horizontal_x-small">
		<div>
			<div class="slds-form-element slds-form-element_edit slds-grow slds-hint-parent slds-p-vertical_xx-small">

				<div class="test-id__field-label-container">
					<label class="slds-form-element__label" for="input-unique-id">
						{{#if isRequired input.label}}
							<abbr class="slds-required" title="required">*</abbr>
						{{/if}}
						{{input.label}}
					</label>
				</div> <!-- End label -->

				<div class="slds-form-element__control slds-grid">
					<!-- {{#if inputIsInput inputType }} -->
				    <input type="text" id="edit-{{input.label}}" class="slds-input" placeholder="" value="{{input.content}}" />
				 <!--  {{else}}
				  	{{#if inputIsPicklist inputType }}
				  		{{>pickList}}
				  	{{else}}
				  		{{#if inputIsLookup inputType}}
				  			{{#with content}}
					  			{{>lookup accountName = this}}
				  			{{/with}}
				  		{{else}} -->
				  			<!-- {{#if inputIsTextarea inputType}} -->
				  				<!-- <textarea id="{{id}}" class="slds-textarea" placeholder="Placeholder Text"></textarea> -->
				  			<!-- {{/if}} -->
<!-- 				  		{{/if}}
				  	{{/if}}
				  {{/if}} -->
				</div> <!-- End Content -->

			</div>
		</div>
	</div>
</template>