<template name="detailEdit">
	<div class='detailEditContainer {{editIsVisible}}'>
		{{#each row in oppty}}
			<div class='slds-grid slds-grid_pull-padded'>
				{{#each item in row}}
					<div class='slds-size_1-of-2 slds-p-horizontal_small'>
						{{>inputEdit input=item }}
					</div>
				{{/each}}
			</div>
		{{/each}}
		<!-- Footer -->
		<div class='footer active slds-text-align_center slds-p-vertical_medium'>
			<button class="slds-button slds-button_neutral ff-cancel">Cancel</button>
			<button class="slds-button slds-button_brand ff-save">Save</button>
		</div>
	</div>

</template>