<template name="inputRead">
	<div role="listitem" class="slds-has-flexi-truncate slds-p-horizontal_x-small">

			<div class="slds-form-element slds-form-element_edit slds-grow slds-hint-parent slds-m-vertical_xxx-small">

				<div class="test-id__field-label-container">
					<span class="test-id__field-label slds-form-element__label slds-m-bottom_none">
						{{input.label}}
					</span>
				</div> <!-- End label -->

				<div class="slds-form-element__control slds-grid">
					<span class="ff-fieldContent slds-form-element__static slds-m-right_small">
						{{#if isLink input.label}}
							<a href="">{{input.content}}</a>
						{{else}}
							{{input.content}}
						{{/if}}
					</span>
					{{#if isEditable input.label }}
						<button id="button-{{id input.label}}" for="edit-{{id input.label}}" class="slds-button slds-button_icon ff-editInline" title="Edit Opportunity Owner">
						  <svg class="slds-button__icon" aria-hidden="true">
						    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/symbolsUtility.svg#edit" />
						  </svg>
						  <span class="slds-assistive-text">Edit {{input.label}}</span>
						</button>
					{{/if}}
				</div> <!-- End Content -->

			</div>

	</div>
</template>