<template name="pickList">

  <div class="slds-form-element__control slds-size_1-of-1">
    <div class="slds-combobox_container">
      <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-combobox-picklist" aria-expanded="false" aria-haspopup="listbox" role="combobox">
        <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
          <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id-7" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Select an Option" readonly="" value=""/>
          <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right" title="Description of icon when needed">
            <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/symbolsUtility.svg#down" />
            </svg>
            <span class="slds-assistive-text">Description of icon when needed</span>
          </span>
        </div>
        <div id="listbox-unique-id" role="listbox">
          <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation">
            <li role="presentation" class="slds-listbox__item">
              <div id="listbox-option-unique-id-01" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                <span class="slds-media__figure">
                  <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/symbolsUtility.svg#check" />
                  </svg>
                </span>
                <span class="slds-media__body">
                  <span class="slds-truncate" title="Option A"> Option A</span>
                </span>
              </div>
            </li>
            <li role="presentation" class="slds-listbox__item">
              <div id="listbox-option-unique-id-02" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                <span class="slds-media__figure">
                  <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/symbolsUtility.svg#check" />
                  </svg>
                </span>
                <span class="slds-media__body">
                  <span class="slds-truncate" title="Option B"> Option B</span>
                </span>
              </div>
            </li>
            <li role="presentation" class="slds-listbox__item">
              <div id="listbox-option-unique-id-03" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-media_center" role="option">
                <span class="slds-media__figure">
                  <svg class="slds-icon slds-icon_x-small slds-listbox__icon-selected" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/symbolsUtility.svg#check" />
                  </svg>
                </span>
                <span class="slds-media__body">
                  <span class="slds-truncate" title="Option ABCDEFGHIJKLMNOPQRSTUVWXYZ"> Option ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</template>